.container{
    width: 200px;
    height: 360px;
    background-color:  red;
}

.header{
    width: 200px;
    height: 25%;
    background-color:green;
}

.clear{
    position: relative;
    height: 80%;
    text-align: right;
    padding-right: 8px;
    padding-top: 8px;
    box-sizing: border-box;
}

#date{
    position: relative;
    height: 20%;
    padding-left: 8px;
    box-sizing: border-box;
    text-align: center;
}

.content{
    width: 200px;
    height: 75%;
    border-radius: 20px;
}

ul{
    position: relative;
    width: 200px;
    min-height: 75%;
}

.content .add-item{
    background-color:blue;
    position: relative;
    height: 25%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.add-item i{
    color: white;
}